<h1>Thank you for making your reservation with us!</h1><br>

<h3>Please note these details:</h3>

<p>
  <strong>Restaurant:</strong>
  <%= @reservation.restaurant_id %>
</p>

<p>
  <strong>E-mail:</strong>
  <%= @reservation.email %>
</p>

<p>
  <strong>Time:</strong>
  <%= @reservation.requested_at %>
</p>

<p>
  <strong>Message:</strong>
  <%= @reservation.message %>
</p>
